@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Robot', sans-serif;
}
html {
  scroll-behavior: smooth;
}

.input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scroll-bar::-webkit-scrollbar {
  display: none;
}

.padding-x {
  @apply sm:px-4 px-2;
}
.padding-y {
  @apply sm:py-10 py-6;
}
.hero {
  @apply relative w-full h-[270px];
}
.sidebar-wrapper {
  @apply fixed sm:hidden top-0 left-0 w-[50%] h-[100%] flex flex-col z-20 invisible duration-1000 translate-x-[-100%]  bg-slate-800;
}

.sidebar-wrapper.show {
  @apply visible z-20 translate-x-[0];
}
.sidebar-links {
  @apply fixed top-0 left-0 w-[50%] h-[100%] flex flex-col z-20 invisible duration-1000 translate-y-[-100%] overflow-hidden;
}
.sidebar-links.show {
  @apply visible z-20 translate-x-[0];
}
